EMAIL_RECEIVER=email@gmail.com
AUTH_PASS=app_password
EMAIL_SENDER=noreply.formemailsender@gmail.com

NEXT_PUBLIC_SANITY_PROJECT_ID=id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_WRITE_TOKEN=write_token

SOUNDCLOUD_CLIENT_ID=client_id
SOUNDCLOUD_CLIENT_SECRET=client_secret
SOUNDCLOUD_PLAYLIST_URL=playlist_url
