.case-catalog {
  .catalog-list {
    padding: EM(150) 0;
    max-width: calc(100% - EM(80));

    @include mq() {
      padding: EM(72) 0;
      max-width: 100%;
    }

    &-content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, EM(137));
      justify-content: space-between;
      row-gap: EM(40);
      max-width: var(--size-container);
      margin: 0 auto;

      opacity: 1;
      transition: opacity 0.2s ease;

      &--animating {
        opacity: 0;
      }

      @include mq() {
        display: flex;
        flex-direction: column;
        gap: EM(48);
      }
    }

    .catalog-item {
      width: EM(137);
      height: min-content;

      opacity: 1;
      transition: opacity 0.5s ease;

      &--hidden {
        display: none;
      }

      @include mq {
        width: 100%;
        opacity: 1 !important;
      }

      &--not-active {
        opacity: 0.2;
      }

      &-scroll {
        @include mq() {
          overflow: scroll;
          width: 100%;
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* Internet Explorer 10+ */
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: EM(4);

        @include mq() {
          flex-direction: row;
          width: max-content;
        }
      }

      &__name {
        display: none;

        @include mq() {
          display: block;
          margin: 0 0 EM(16) EM(25);
        }
      }

      &__image {
        width: 100%;
        height: auto;
        overflow: hidden;

        display: flex;

        @include mq() {
          width: auto;
          height: EM(165);

          &:nth-of-type(1) {
            margin-left: EM(25);
          }

          &:nth-last-child(1) {
            margin-right: EM(25);
          }
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;

          filter: blur(EM(5));
          transition:
            filter 0.6s ease,
            transform 0.7s $ease-out-expo;

          &.is-loaded {
            filter: blur(0);
          }

          @include mq() {
            width: auto;
            height: 100%;
            transition: opacity 0.6s ease !important;

            &.is-loaded {
              opacity: 1;
            }
          }
        }
      }
    }

    &-hovered {
      position: fixed;
      inset: 0;
      z-index: 9;

      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      user-select: none;

      @include mq() {
        display: none;
      }

      &__name {
        position: absolute;
        transition: opacity 0.3s ease;
        opacity: 0;

        &--active {
          opacity: 1;
        }
      }
    }

    .filters {
      position: fixed;
      bottom: EM(80);
      left: 50%;
      transform: translateX(-50%);

      @include mq() {
        left: 0;
        right: 0;
        bottom: EM(24);
        transform: none;
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
      }

      &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: EM(4);

        width: 100%;
        max-width: EM(820);

        z-index: 10;

        @include mq() {
          max-width: none;
          width: max-content;
        }
      }

      .filter-button {
        color: $c-white;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
        text-wrap: nowrap;

        @include mq {
          &:nth-of-type(1) {
            margin-left: EM(25);
          }

          &:nth-last-child(1) {
            margin-right: EM(25);
          }
        }

        &--active {
          background-color: $c-black;
        }

        &--reset {
          padding: EM(12);
          pointer-events: none;
          background-color: #31313126;
          transition: background-color 0.3s ease;

          &-active {
            pointer-events: auto;
            background-color: $g-70;

            .filter-button__icon {
              path {
                fill: $c-white;
              }
            }
          }
        }

        &__icon {
          width: EM(26);
          height: EM(26);

          path {
            fill: $g-40;
            transition: fill 0.3s ease;
          }
        }
      }
    }
  }
}
