.case-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: EM(80);

  position: relative;
  margin-top: EM(70);
  opacity: 0;
  transition: opacity 0.5s ease;

  &.is-loaded {
    opacity: 1;
  }

  @include mq() {
    gap: EM(40);
    margin-top: EM(120);
  }

  .smooth-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: EM(500);
    max-width: EM(1920);
    overflow: hidden;
    padding: EM(64) 0;

    margin: 0 auto;

    user-select: none;
    -webkit-user-select: none;

    @include mq {
      height: EM(400);
    }

    &:focus {
      outline: none;
    }

    &__slide {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      // width: auto;
      height: EM(360);
      // height: EM(560);

      @include mq {
        width: EM(230);
        height: auto;
      }
    }

    &__slide-inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 EM(4);

      @include mq {
        width: EM(320);
        height: auto;
        padding: 0 EM(3);
      }

      img {
        width: auto;
        height: 100%;
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;

        @include mq {
          width: 100%;
          height: auto;
          max-height: EM(320);
        }
      }
    }
  }

  .arrows {
    display: flex;
    align-items: center;
    gap: EM(5);

    .arrow {
      width: EM(48);
      height: EM(48);

      transition: opacity 0.3s ease;

      @include hover {
        opacity: 0.8;
      }

      &--prev {
        transform: rotate(180deg);
      }

      &__icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
