.case-details {
  .case-hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    min-height: EM(600);
    // padding-top: 50svh;

    position: relative;

    @include mq() {
      min-height: auto;
      padding: EM(100) 0 EM(40);
      align-items: center;
    }

    &-content {
      width: EM(620);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: EM(80);

      text-align: center;

      padding-top: EM(240);

      @include mq() {
        gap: EM(48);
        width: calc(100% - EM(120));
        padding-top: 0;
      }

      .services-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: EM(40);
        margin-top: EM(36);
        flex-wrap: wrap;

        @include mq() {
          margin-top: EM(32);
          gap: EM(12);
        }

        .service {
          display: flex;
          align-items: center;
          gap: EM(12);

          &-icon {
            width: EM(26);
            height: EM(23);
          }
        }
      }
    }

    &-buttons {
      position: absolute;
      top: 50svh;
      left: EM(70);
      right: EM(70);
      transform: translateY(-50%);

      display: flex;
      justify-content: space-between;


      @include mq() {
        display: none;
      }
    }

    &__button {
      width: EM(96);
      height: EM(96);
      display: block;

      &--next {
        transform: rotate(180deg);
      }

      &-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
