.header {
  max-width: var(--size-container);
  width: 100%;
  position: fixed;
  top: EM(50);
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  @include mq() {
    top: EM(14);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: EM(-100) EM(-100) EM(-50);

    z-index: -1;
    pointer-events: none;
    opacity: 1;

    transition: opacity 0.3s ease;
  }

  &::after {
    background: linear-gradient(180deg, #000 53.75%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
  &::before {
    background: linear-gradient(
      180deg,
      #ffffff 53.75%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
  }

  &--active {
    @include mq() {
      &::after {
        display: none !important;
      }
      &::before {
        display: none !important;
      }
    }
  }

  &-content {
    margin: 0 EM(40);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq() {
      margin: 0 EM(24);
    }
  }

  .left {
    display: flex;
    align-items: flex-start;
    gap: EM(40);

    @include mq() {
      width: 100%;
      justify-content: space-between;
    }

    .logo-wrapper {
      .logo {
        width: auto;
        height: EM(50);
        filter: invert(1);
        transition: filter 0.3s ease;
        @include mq(1200) {
          height: EM(34);
        }

        @include mq() {
          height: EM(17);
        }
      }

      &--active {
        @include mq() {
          .logo {
            filter: invert(1) !important;
          }
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: EM(48);

      @include mq() {
        display: none;
      }

      &:has(.nav-item:hover) {
        .nav-item:not(:hover) {
          opacity: 0.4;
        }
      }

      &-item {
        opacity: 0.4;
        transition: opacity 0.3s ease;
        padding: EM(8) 0;

        &--active {
          opacity: 1;
        }

        @include hover {
          opacity: 1;
        }
      }
    }

    .header-menu-button {
      height: EM(17);
      width: EM(27);
      position: relative;

      @include mq($tablet, "min") {
        display: none;
      }

      &--active {
        .line {
          background-color: $c-white !important;

          &:nth-child(1) {
            top: 50% !important;
          }

          &:nth-child(2) {
            opacity: 0 !important;
            top: 50% !important;
            transition:
              opacity 0.3s 0.2s ease,
              top 0.5s $ease-out-expo,
              background-color 0.3s ease;
          }
        }
      }

      .line {
        position: absolute;
        left: 0;
        right: 0;
        // top: 45%;
        transform: translateY(-50%);
        width: 100%;
        height: 0.8px;
        background-color: $c-white;

        transition:
          top 0.5s $ease-out-expo,
          transform 0.5s $ease-in-out-expo,
          opacity 0.3s ease,
          background-color 0.3s ease;

        @include mq {
          height: 1px;
        }

        &:nth-child(1) {
          top: 30%;
        }

        &:nth-child(2) {
          top: 70%;
          opacity: 1;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: flex-start;
    gap: EM(32);
    position: relative;
    padding-top: EM(6);

    @include mq() {
      display: none;
    }

    .radio {
      display: flex;
      align-items: center;
      gap: EM(8);

      &-indicator {
        width: EM(6);
        height: EM(6);
        border-radius: EM(10);
        background-color: #e51313;
        animation: radioDot 1s ease infinite alternate;
      }
    }

    .header-button {
      width: EM(21);
      height: EM(21);
      opacity: 0.3;
      transition:
        opacity 0.3s ease,
        filter 0.3s ease;

      @include hover {
        opacity: 1;
      }

      &--playing {
        opacity: 1;

        @include hover {
          opacity: 0.3;
        }
      }

      &__icon {
        width: 100%;
        height: 100%;
      }
    }

    .menu {
      color: $c-white;

      position: absolute;
      top: calc(100% + EM(15));
      right: 0;

      pointer-events: none;

      // Animate children individually to preserve their backdrop-filter
      > * {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &--active {
        pointer-events: auto;

        > * {
          opacity: 1;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: EM(8);

        .lang-switch {
          background: rgba(85, 85, 85, 0.5);
          backdrop-filter: blur(27px);
          display: flex;
          align-items: center;
          border-radius: EM(50);

          &__link {
            display: block;
            padding: EM(16) EM(24);
            border-radius: EM(30);
            transition:
              color 0.3s ease,
              background-color 0.3s ease,
              opacity 0.3s ease;

            &--active {
              background-color: #fff;
              color: $c-black;
              opacity: 1 !important;
              pointer-events: none;
            }

            @include hover {
              opacity: 0.7;
            }
          }
        }

        .socials {
          display: flex;
          align-items: center;
          gap: EM(4);

          &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: EM(48);
            height: EM(48);
            border-radius: EM(50);
            background: rgba(85, 85, 85, 0.5);
            backdrop-filter: blur(27px);
            transition: opacity 0.3s ease;

            @include hover {
              opacity: 0.7;
            }

            &-icon {
              width: EM(22);
              height: EM(22);
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  inset: 0;
  padding: EM(36) EM(24) EM(24);
  background-color: $c-black;
  color: $c-white;

  z-index: 19;

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: EM(48);

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .menu {
    width: 100%;
    max-width: EM(400);
    margin: 0 auto;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: EM(20);

      .radio {
        display: flex;
        align-items: center;
        gap: EM(8);

        &-indicator {
          width: EM(6);
          height: EM(6);
          border-radius: EM(10);
          background-color: #e51313;
          animation: radioDot 1s ease infinite alternate;
        }
      }

      .player-controls {
        display: flex;
        align-items: center;
        gap: EM(24);
      }

      .header-button {
        width: EM(21);
        height: EM(21);

        &__icon {
          width: 100%;
          height: 100%;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: EM(12);

      .lang-switch {
        background: rgba(85, 85, 85, 0.5);
        backdrop-filter: blur(27px);
        display: flex;
        align-items: center;
        border-radius: EM(50);

        &__link {
          display: block;
          padding: EM(16) EM(24);
          border-radius: EM(30);
          transition:
            color 0.3s ease,
            background-color 0.3s ease,
            opacity 0.3s ease;

          &--active {
            background-color: #fff;
            color: $c-black;
            opacity: 1 !important;
            pointer-events: none;
          }

          @include hover {
            opacity: 0.7;
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        gap: EM(4);

        &__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: EM(48);
          height: EM(48);
          border-radius: EM(50);
          background: rgba(85, 85, 85, 0.5);
          backdrop-filter: blur(27px);
          transition: opacity 0.3s ease;

          @include hover {
            opacity: 0.7;
          }

          &-icon {
            width: EM(22);
            height: EM(22);
          }
        }
      }
    }
  }
}

.body {
  &:has(.page--white) {
    .header {
      &::after {
        opacity: 0 !important;
      }
      &::before {
        opacity: 1 !important;
      }

      .left {
        .logo-wrapper .logo {
          filter: invert(0);
        }

        .header-menu-button {
          .line {
            background-color: $c-black;
          }
        }
      }

      .right {
        .header-button {
          filter: invert(1);
        }
      }
    }
  }
}

@keyframes radioDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
